
$color-primary: #fc8534;
.buttons{
   background-color: transparent;
   background-repeat: no-repeat;
   border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 20px;
    &:hover {
        background-color: $color-primary;
        color: #fff;
    }
}
