$color-primary:  #FA7037;

.container{
    background-color: rgb(65, 65, 65);
    color: #fff;
    padding: 40px 80px;
    .topFooter{
        display: flex;
       
        justify-content: space-between;
        .form{
         
            width: 150%;
            .inputMail{
                padding: 8px;
             width:75%;
             height: 40px;
            }
            .button{
                width: 25%;
                font-weight: bold;
                color: #fff;
                background-color: $color-primary;
                padding: 7px;
                height: 38px;
                border: none;
            }
        }
       .sosmedIcon{
           margin-top: 90px;
           display: flex;
           width: 25%; 
           justify-content: space-between;
           bottom: 0;
        
           img {
            width: 2rem;
            cursor: pointer;
        }
       }
    }
    .botFooter{
        p {
            opacity: .7;
            font-size: 12px;
        }
    }
  
}

@media screen and (max-width: 450px){
    
.container{
    background-color: rgb(65, 65, 65);
    color: #fff;
    padding: 20px 40px;
    .topFooter{
       display: flex;
       flex-wrap: wrap;
        .form{
         
            width: 100%;
            .inputMail{
                padding: 8px;
             width:70%;
             height: 40px;
            }
            .button{
                width:30%;
                font-weight: bold;
                color: #fff;
                background-color: $color-primary;
                padding: 7px;
                height: 38px;
                border: none;
            }
        }
       .sosmedIcon{
           margin-top: 40px;
           display: flex;
           width: 50%; 
           justify-content: space-between;
           bottom: 0;
           img {
               width: 2rem;
               margin-right: 10px;
           }
       }
    }
    .botFooter{
        p {
            opacity: .7;
            font-size: 12px;
        }
    }
  
}
}