.hero{
    background-color: #EAEAEA;
    display: grid;
    grid-template-columns: 30% 55%;
    justify-content: center;
    position: relative;
    margin-top: -100px;
    padding-top: 50px;
    z-index: -99;
    .heroImage{
    
       padding-top: -50px;
        display: flex;
        align-items: center;
        
        img{
            width: calc(180px + (300 - 160) * ((250vw - 300px) / (1200 - 300))) ;
            margin: 0 auto;
        }
    }
    .heroText{
 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        h1{
            font-size: calc(40px + (120 - 90) * ((40vw - 300px) / (1200 - 300)));
            color: rgb(53, 53, 53)
        }
        p{
            line-height: 1.5;
            color: rgb(53, 53, 53);
            font-size: 1.3rem;
        }
    }
}

.text{
    text-align: center;
    font-size: 2.3rem;
}

.buttons{
    text-align: center;
    margin: 0 auto;
}




.section1{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    .titleWrapper{
        text-align: center;
        width: 65%;
        margin: 0 auto;
        padding: 50px 0;
        p{
            font-size: 1.3rem;
            line-height: 1.7
        }
    }
    .section1Item{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        .itemWrapper{
            display: flex;
            .itemContent{
                h1{
                    color: #fc8534;
                }
            }
        }
    }
}

.section2{
    width: 100%;
    margin: 0 auto;
    background-color: #EAEAEA;
    padding: 50px 10%;
    .section2Item{
        display: grid;
        grid-template-columns: 30% 30% 30%;
       
        justify-content: center;
       .item{
        &:hover{
            color: black;
            opacity: .5;
            transform: scale(1.1);
            transition: 1s all ease;
        }
           margin: 0 auto;
           padding-top: 20px;
           position: relative;
         
           h2{
               position: absolute;
               left: 10px;
               bottom: 5px;
               z-index: 99;
               color: #fff;
           }
       }
    }
}


.section3{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    .section3Item{
        display: grid;
        width: 80%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        margin: 0 auto;
      img{
          margin: 0 auto;
          display: flex;
          padding: 40px 0;
      }
    }
}


///mobile viewssss........
@media screen and(max-width: 450px){
    .hero{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
 
        .heroImage{
                padding-top: 40px;
             display: flex;
             align-items: center;
             img{
                 width: calc(180px + (300 - 160) * ((250vw - 300px) / (1200 - 300))) ;
                 margin: 0 auto;
             }
         }
         .heroText{
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            h1{
                font-size: calc(40px + (120 - 90) * ((38vw - 300px) / (1200 - 300)));
                color: rgb(53, 53, 53)
            }
            p{
                line-height: 1.5;
                color: rgb(53, 53, 53);
                font-size: 14px;
            }
        }
         
    }
    .section1{
        width:  100%;

        .titleWrapper{
            margin-top: -90px;
            margin-bottom: -30px;
            width: 90%;
            p{
                font-size: 14px;
                line-height: 1.5;
            }
        }
        .section1Item{
            display: flex;
            flex-wrap: wrap;
            width: 98%;
            .itemWrapper{
                img{
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    display: flex;
                   
                }
                .itemContent{
                    h1{
                        font-size: 16px;
                    }
                    p{
                        line-height: 1.2;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .section2{
        .section2Item{
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            .item{
                width: 100%;
                padding: 10px;
                img{
                    width: 100%;
                }
                h2{
                    font-size: 12px;
                    padding: 5px;
                }
            }
        }
    }
    .section3{
    
        .section3Item{
          
            display: grid;
            grid-template-columns: 50% 50%;
            margin: 0 auto;
            img{
                width: 90px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }
        }
    }
    .text{
        font-size: 1.4rem;
        
    }
}



